.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  background-color: #000;
  color: #FFF;

  &__copyright {
    width: 200px;
  }

  &__up-button {
    width: 200px;
    text-align: right;
    cursor: pointer;
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    a {
      color: #FFF;
    }
  }

}

@media screen and (max-width: 962px){
  .footer {
    flex-direction: column-reverse;

    padding: 30px 15px;

    gap: 30px;

    &__copyright {
      text-align: center;
    }

    &__links {
      flex-direction: column;
      gap: 10px;
    }

    &__up-button {
      text-align: center;
    }
  }
}